* {
  margin: 0;
  padding: 1px;
}
:focus {
  outline: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 12px;
}
a {
  color: #09c;
  text-decoration: none;
}
a.button {
  display: inline-block;
  background: #fff;
  border: 1px solid #ddd;
  color: #555;
  padding: 1rem 4rem;
  text-transform: uppercase;
  text-align: center;
}
a.buttonactive,
a.button.active {
  box-shadow: inset 0 0 7px rgba(0,0,0,0.2);
}
a.buttonhover {
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  color: #09c;
}
input[type=button] {
  -webkit-appearance: none;
  padding: 10px 30px;
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
  border-radius: 5px;
}
input[type=button].square {
  border-radius: 0;
}
input[type=button]:hover,
input[type=button].active {
  box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
  color: #5cba1d;
  cursor: pointer;
}
input[type=button]:active {
  box-shadow: none;
  border: 1px solid #ddd;
}
h1 {
  font-size: 3em;
  font-weight: bold;
  color: #505050;
  font-family: josefin sans;
  margin: 0;
}
h2 {
  color: #777;
  margin: 10px 0;
}
.gray {
  color: #ccc;
}
.blue {
  color: #09c;
}
.hotpink {
  color: #fd156d;
}
.theme {
  color: #5cba1d;
}
.upper {
  text-transform: uppercase;
}
body > nav {
  background: #09c;
  position: fixed;
  width: 21rem;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  body > nav {
    display: none;
  }
}
body > nav ul li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
body > nav ul li:first-child {
  border-top: 1px solid rgba(255,255,255,0.15);
}
body > nav ul li i {
  opacity: 0.3;
}
#logo {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}
#logo a {
  color: #fff;
}
#version {
  font-size: 0.8em;
  font-weight: normal;
  color: #e0e0e0;
  margin-left: 15px;
  text-shadow: 1px 1px 1px #fff;
}
#nav-toggle {
  position: absolute;
  top: 2rem;
  left: 45px;
  z-index: 1;
  background: #fcfcfc;
  opacity: 0.65;
  border: 1px solid #eee;
  padding: 1rem 1.5rem;
  font-size: 2.5rem;
  color: #aaa;
  cursor: pointer;
}
article {
  position: relative;
  background: #fff;
  padding: 50px;
  margin-left: 21rem;
}
@media only screen and (max-width: 600px) {
  article {
    margin-left: 0;
  }
}
#header .autotab li a {
  color: #5cba1d;
}
.content {
  max-width: 800px;
}
section {
  margin: 50px 0;
}
.card {
  background: #fff;
  padding: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.autotab li a {
  font-family: ubuntu;
  color: #555;
}
.autogrid {
  font-size: 12px;
}
