div.tabstrip
  background #fff
  border-bottom 1px solid #ddd

div.autotab
  .tab
    display none

ul.autotab
  list-style-type none

  &.filled
    background #fff
    border 1px solid #e5e5e5

  li
    display inline-block

  li a
    font-size 1.3em
    color #09c
    display inline-block
    padding 10px
    padding-bottom 9px
    padding-top 12px
    text-transform uppercase
    text-decoration none
    cursor pointer

  li.active, li:hover
    border-bottom 4px solid #444
