extends layout

block content
    h1 faq

    br

    style.
      h2{
        margin-top: 10px;
        color: #555;
        font-size: 1.3em;
        text-transform: lowercase;
        font-family: trebuchet ms;
      }

      p{
        display: block;
        padding: 10px 0;
        font-size: 14px;
        font-family: verdana;
      }

      p a{
        font-size: 12px;
      }

    h2 1. what is auto.js?
    p auto.js is a collection of essential javascript controls designed with an easy api and a pretty ui.

    h2 2. how can I contact you?
    p
      a(href='mailto:tim.erwin@gmail.com') tim.erwin@gmail.com

    h2 3. where is the source?
    p
      a(href='https://github.com/timothyerwin/auto.js', target='blank') https://github.com/timothyerwin/auto.js

    h2 4. which browsers are supported?
    p c35, f30, s7, o22, i50
