extends layout

block content
    h1 faq

    br

    style.
      h2{
        margin-top: 10px;
        color: #BC00CC;
        text-transform: lowercase;
        font-family: trebuchet ms;
      }

      p{
        display: block;
        padding: 10px 0;
        font-size: 14px;
        font-family: verdana;
      }

    h2 1. why?
    p because.

    h2 2. what is auto.js?
    p auto.js is a collection of essential javascript controls designed with an easy api and a pretty ui.

    h2 3. there are bugs...
    p tell me about it.

    h2 4. the tabs look familiar...
    p yes, inspired by twitter :)

    h2 5. what is the license?
    p
      a(href='http://opensource.org/licenses/mit') http://opensource.org/licenses/mit

    h2 6. why is everything lowercase?
    p because.

    h2 7. how can I contact you?
    p
      a(href='mailto:tim.erwin@gmail.com') tim.erwin@gmail.com

    h2 8. are you licensed to kill?
    p no.

    h2 9. are you available for hire?
    p yes.

    h2 10. can I buy you starbucks?
    p please :)

    h2 11. where is the source?
    p
      a(href='https://github.com/timothyerwin/auto.js', target='blank') https://github.com/timothyerwin/auto.js

    h2 12. do we really need...?
    p yes.

    h2 13. which browsers are supported?
    p c35, f30, s7, o22, i50
