doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/local/css/site.css')
    link(rel='stylesheet', href='/local/auto/css/auto.tabs.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,500')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600')
    script(src='/jquery/jquery-2.1.1.js')
    script(src='//oss.maxcdn.com/riotjs/1.0.1/riot.min.js')
    script(src='/local/auto/js/auto.base.js')
  body
    div#header
      div#page
        div#logo
          a(href='/') auto.js
          span#version= version
        include nav
    div#page
      div#content
        block content
    div#page(style='margin-top:40px;')
      #disqus_thread
      script(type='text/javascript').
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'autojs'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      a.dsq-brlink(href='http://disqus.com')
