extends demo.layout

block gist
  script(src='https://gist.github.com/timothyerwin/c1d46c37e76f911caf22.js')
block sub
  div#modal-content(style='display:none;')
    iframe#ut(width='560', height='315', src='', frameborder='0', allowfullscreen='')
    div.footer
      input(type='button' value='Close' onclick="$('#modal-content').automodal('hide')")
  br
  br
  input#activate(type='button', value="Show Modal")
  script.
    $("#activate").on("click", function(){

      if($("#ut").attr("src") == '')
        $("#ut").attr("src", '//www.youtube.com/embed/0KSOMA3QBU0?start=40&autoplay=1');

      $("#modal-content").automodal({title:"YouTube - Katy Perry", close: function(){
          $("#ut").attr('src','');
        }, canMove: true});
    });

  
