extends demo.layout

block gist
  script(src="https://gist.github.com/timothyerwin/0c76806adb07af8dc8bf.js")
  
block sub

  br
  nav(class='popmenu')
    ul
      li
        a. united states
      li
        a. mexico
      li
        a. brazil
    
  input(id='activate', type='button', value='activate')

  script.

    $('#activate').autopopmenu({
        menu: $(".popmenu"),
        position: 'bottom left'
      });
