.no-select
  user-select none
  -o-user-select none
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none

.automodal
  display none
  background rgba(0,0,0,.85)
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  z-index 9999

  .content
    width 500px
    background #fff

    +at(2)
      max-height 200px
      max-width 400px

    +at(1)
      max-height 300px
      max-width 300px

  .header
    background #fff
    padding 10px 15px
    color #333
    font-size 1.5rem
    font-weight bold
    border-bottom 1px solid #ccc
    cursor default
    border-top-left-radius 7px
    border-top-right-radius 7px

  .move
    cursor move

  .footer
    padding 15px
    color #333
    border-top 1px solid #bbb
    background #fff

  .close
    float right
    cursor pointer
    font-family arial
    color #aaa

  .wrapper
    position absolute
    box-shadow 0 0 20px rgba(0,0,0,.5)
