.autostrip

  ul
    border: 1px solid #aaa;
    display: inline-block;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ddd;
    outline: 1px solid #fff;
    margin: 15px 0;
    //box-shadow: 0 0 7px rgba(0,0,0,.2);

  ul li
    display: inline;

  ul li a
    color: #777;
    color: #5CBA1D;
    display: inline-block;
    font-weight: bold;
    padding: 7px 20px;
    text-transform: lowercase;
    text-decoration:none;
    border-right: 1px solid #ddd;
    cursor: pointer;
    //text-shadow: 0 0 2px rgba(2,2,2,.2);

  ul li:last-child a
    border-right: none;

  ul li a:hover
    text-decoration: underline;
