.tabstrip
  background #fff
  border-bottom 1px solid #ddd

.autotab
  .tab
    display none

ul.autotab
  list-style-type none

  +below(3)
    white-space nowrap
    width 100%
    overflow-x auto
    overflow-y hidden
    -webkit-overflow-scrolling touch

  &.filled
    background #fff
    border 1px solid #e5e5e5

  li
    display inline-block

  li a
    color #444
    display inline-block
    padding 8px
    padding-bottom 7px
    padding-top 10px
    text-transform uppercase
    text-decoration none
    cursor pointer

  li.active, li:hover
    border-bottom 2px solid #444
